# Rust
/target/
Cargo.lock

# Python
__pycache__/
*.pyc
venv/
.env
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt

# App data
config.json
downloads/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
