# Rust
/target/
Cargo.lock

# Python
__pycache__/
*.pyc
venv/
.env
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt
.uv/
uv.lock

# PyInstaller
build/
dist/
*.spec
social_media_downloader_backend.egg-info/

# App data
config.json
downloads/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs and Temp
*.log
*.txt
test_pyi.py
